@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0px;
    font-family: Roboto;
}

.cabecalho {
    background-image: url(imagens/fundo-header.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 1200px;

    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 22px;
}

.logo {
    width: 170px;
    height: 170px;
    border: 5px solid rgb(73, 0, 0);
    background-color: rgb(252, 157, 157);
    padding: 10px;
    border-radius: 100px;
}

.nome-loja {
    font-size: 60px;
    font-family: Great Vibes;
    font-weight: 400;
    color: #007EA7;
    line-height: 60%;
    margin: 0;
}

.texto-pequeno {
    font-size: 40px;
}

.menu {
    background-color: #F08080;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 19px;
}

.item-menu {
    color: #720026;
    font-size: 18px;
    font-weight: 500;
}