@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0px;
    font-family: Roboto;
}

.cabecalho {
    background-image: url(imagens/fundo-header.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 1200px;

    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 22px;
}

.logo {
    width: 170px;
    height: 170px;
    border: 5px solid white;
    background-color: rgb(253, 197, 193);
    padding: 10px;
    border-radius: 100px;
}

.nome-loja {
    font-size: 60px;
    font-family: Great Vibes;
    font-weight: 400;
    color: #007EA7;
    line-height: 60%;
    margin: 0;
}

.texto-pequeno {
    font-size: 40px;
}

.menu {
    background-color: #F08080;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 19px;
    color: #720026;
}

.item-menu {
    color: #720026;
    font-size: 18px;
    font-weight: 500;
}

.foto-banner {
    width: 1200px;
    height: 446px;
    object-fit: cover;
}

.banner {
    width: 1200px;
    height: 445px;
    margin-left: auto;
    margin-right: auto;
    
    border-bottom: 5px solid #F08080;
}

.cardapio {
    margin-left: auto;
    margin-right: auto;

    width: 1200px;
    border-bottom: 5px solid #F08080;
}

.nome-cardapio {
    font-size: 45px;
    font-family: Great Vibes;
    font-weight: 400;
    text-align: center;
    color: #720026;

    margin-top: 0;
    margin-bottom: 0;
    padding-top: 35px;
    padding-bottom: 20px;
}

.texto-cardapio {
    font-size: 14px;
    font-family: Roboto;
    width: 1200px;

    padding-bottom: 35px;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}

.fotos {
    width: 1200px;
    height: 395px;
    background-color: #FFCDB2;

    margin-left: auto;
    margin-right: auto;
    border-bottom: 5px solid #F08080;
}

.nome-fotos {
    font-size: 45px;
    font-family: Great Vibes;
    font-weight: 400;
    text-align: center;
    color: #720026;

    margin-top: 0;
    margin-bottom: 0;
    padding-top: 35px;
    padding-bottom: 40px;
}

.fotos-bolo {
    width: 200px;
    height: 200px;

    border: 5px solid #D1495B;
    margin-left: 127px;
    margin-right: auto;
    object-fit: cover;
}

.contato {
    width: 1200px;
    height: 430px;

    border-bottom: 5px solid #D1495B;
    margin-right: auto;
    margin-left: auto;
}

.nome-contato {
    font-size: 45px;
    font-family: Great Vibes;
    font-weight: 400;
    text-align: center;
    color: #720026;

    margin-top: 40px;
    margin-bottom: 40px;
}

.maps {
    margin-right: 400px;
    margin-left: 340px;
}

.footer {
    width: 1200px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.nome-footer {
    font-size: 60px;
    font-family: Great Vibes;
    font-weight: 400;
    color: #007EA7;
    line-height: 60%;

    margin-top: 4px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;

}

.rede-social {
    width: 40px;
}